name: Publish project to Maven repository

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.release.draft == false && github.event.release.prerelease == false }}
    steps:
      # Checkout the released tag
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      # Set up JDK 21
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      # Make gradlew executable
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Build the project
      - name: Build with Gradle
        run: ./gradlew build

      # Upload build artifacts
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: build/libs/**/*.jar